/* line 2, ../sass/_helper-classes.scss */
.text-blue {
  color: #3971ff;
}
/* line 6, ../sass/_helper-classes.scss */
.text-center {
  text-align: center;
}

/* line 11, ../sass/_helper-classes.scss */
.upper {
  text-transform: uppercase;
}

/* line 15, ../sass/_helper-classes.scss */
a, a:hover {
  text-decoration: none;
}

/* line 19, ../sass/_helper-classes.scss */
section {
  padding: 0 0 100px 95px;
}

/* line 23, ../sass/_helper-classes.scss */
.flexes {
  display: flex;
}

/*

.just-c-center {
  justify-content: center;
}

.just-c-sp-b {
  justify-content: space-between;
}

.just-c-sp-ar {
  justify-content: space-around;
}

.hidden, .hidden-text {
  display: none;
}*/
/* line 4, ../sass/styles.scss */
body {
  font-family: "Roboto", sans-serif;
  position: relative;
  margin: 0 0 0 215px;
  color: #4c4c4c;
  background-color: #f3f3f3;
  border-left: 1px solid #a7a7a7;
}

/* line 13, ../sass/styles.scss */
h1 {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  font-family: "Exo 2", sans-serif;
}

/* line 21, ../sass/styles.scss */
h2 {
  padding-top: 100px;
  margin: 0 0 100px 0;
  font: 600 30px/21px "Exo 2", sans-serif;
  color: #333;
  padding-bottom: 30px;
  position: relative;
}
/* line 29, ../sass/styles.scss */
h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 5px;
  background-color: #3971ff;
}

/* line 40, ../sass/styles.scss */
h3 {
  margin: 0 0 24px 0;
  font: 400 24px/17px "Roboto", sans-serif;
}

/* line 45, ../sass/styles.scss */
p {
  font-size: 16px;
}

/*-----------HEADER section----------*/
/* line 52, ../sass/styles.scss */
.header {
  background: url(../images/image-background.png);
  padding: 90px 0 120px 475px;
}
/* line 57, ../sass/styles.scss */
.header .less {
  font-size: 30px;
  line-height: 21px;
  margin-bottom: 17px;
}
/* line 63, ../sass/styles.scss */
.header .profesion {
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #4c4c4c;
  padding: 14px 0 12px 19px;
  margin-top: 20px;
  margin-bottom: 41px;
  width: 181px;
  line-height: 12px;
  letter-spacing: 2px;
}
/* line 74, ../sass/styles.scss */
.header p {
  width: 535px;
  line-height: 30px;
}
/* line 79, ../sass/styles.scss */
.header a {
  font-weight: 500;
  line-height: 12px;
  padding: 0 62px 13px 0;
  margin-right: 30px;
  color: #4c4c4c;
  position: relative;
  transition: .3s;
}
/* line 88, ../sass/styles.scss */
.header a:before {
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #3971ff;
}
/* line 99, ../sass/styles.scss */
.header .me {
  color: #3971ff;
}
/* line 102, ../sass/styles.scss */
.header .me:before {
  width: 150px;
}
/* line 107, ../sass/styles.scss */
.header:before {
  content: '';
  top: 148px;
  left: 89px;
  width: 258px;
  height: 301px;
  background: url(../images/profile-image.png);
  position: absolute;
}

/*---------NAVIGATION section--------*/
/* line 119, ../sass/styles.scss */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  padding: 62px 0 0 30px;
  font-family: "Exo 2", sans-serif;
}
/* line 126, ../sass/styles.scss */
.navigation h3 {
  margin-bottom: 23px;
  font-family: "Exo 2", sans-serif;
}
/* line 130, ../sass/styles.scss */
.navigation p {
  margin-bottom: 27px;
  font: 300 16px/17px "Roboto", sans-serif;
}
/* line 135, ../sass/styles.scss */
.navigation .nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 140, ../sass/styles.scss */
.navigation .nav-bar li {
  width: 155px;
  border-bottom: 1px solid #a7a7a7;
  padding: 21px 0 16px 0;
}
/* line 145, ../sass/styles.scss */
.navigation .nav-bar li:last-child {
  border: none;
}
/* line 149, ../sass/styles.scss */
.navigation .nav-bar li a {
  position: relative;
  padding-left: 22px;
  line-height: 11px;
  color: #a7a7a7;
  transition: .3s;
}
/* line 156, ../sass/styles.scss */
.navigation .nav-bar li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 3px;
  width: 12px;
  height: 2px;
  background-color: #9db7f9;
  transition: .3s;
}
/* line 169, ../sass/styles.scss */
.navigation .nav-bar li:hover a {
  color: #4c4c4c;
  padding-left: 35px;
}
/* line 173, ../sass/styles.scss */
.navigation .nav-bar li:hover a:before {
  left: 5px;
  width: 24px;
  background-color: #3971ff;
}

/*------PROFESSIONAL SKILLS section---*/
/* line 185, ../sass/styles.scss */
.skills {
  background-color: #fff;
  padding-bottom: 50px;
}
/* line 189, ../sass/styles.scss */
.skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 197, ../sass/styles.scss */
.skills li {
  display: flex;
  justify-content: space-between;
  width: 445px;
  margin: 0 30px 50px 0;
  padding-bottom: 25px;
  border-bottom: 5px solid #b0c6ff;
  position: relative;
}
/* line 206, ../sass/styles.scss */
.skills li:before {
  content: '';
  position: absolute;
  background-color: #3971ff;
  height: 5px;
  width: 400px;
  bottom: -5px;
  left: 0;
}
/* line 216, ../sass/styles.scss */
.skills li:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 395px;
  height: 0;
  width: 0;
  border-top: 5px solid #3971ff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
/* line 229, ../sass/styles.scss */
.skills p {
  line-height: 12px;
  margin: 0;
}

/*---------EDUCATION section---------*/
/* line 236, ../sass/styles.scss */
.education, .experience {
  padding-bottom: 0;
}
/* line 239, ../sass/styles.scss */
.education ul, .experience ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 246, ../sass/styles.scss */
.education ul li, .experience ul li {
  width: 435px;
  margin: 0 41px 100px 0;
  position: relative;
}
/* line 253, ../sass/styles.scss */
.education ul li:hover .number-li, .experience ul li:hover .number-li {
  color: #3971ff;
}
/* line 257, ../sass/styles.scss */
.education ul li:hover h3, .experience ul li:hover h3 {
  color: #3971ff;
}
/* line 263, ../sass/styles.scss */
.education ul .number-li, .experience ul .number-li {
  position: absolute;
  top: 0;
  left: -3px;
  font-size: 30px;
  line-height: 22px;
  transition: .3s;
}
/* line 272, ../sass/styles.scss */
.education ul .header-li, .experience ul .header-li {
  margin-left: 60px;
}
/* line 275, ../sass/styles.scss */
.education ul .header-li h3, .experience ul .header-li h3 {
  line-height: 17px;
  margin-bottom: 0;
  transition: .3s;
}
/* line 281, ../sass/styles.scss */
.education ul .header-li p, .experience ul .header-li p {
  width: 215px;
  margin: 15px 0 32px 0;
}
/* line 287, ../sass/styles.scss */
.education ul p, .experience ul p {
  line-height: 30px;
  margin-bottom: 0;
}

/*--------EXPERIENCE section---------*/
/* line 295, ../sass/styles.scss */
.experience {
  background-color: #fff;
}

/*---------PORTFOLIO section---------*/
/* line 301, ../sass/styles.scss */
.portfolio {
  padding-bottom: 25px;
}
/* line 304, ../sass/styles.scss */
.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 311, ../sass/styles.scss */
.portfolio ul li {
  padding: 0;
  width: 445px;
  margin: 0 30px 78px 0;
  position: relative;
}
/* line 317, ../sass/styles.scss */
.portfolio ul li:before {
  content: '';
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 445px;
  height: 300px;
  opacity: 0;
  background-color: #f3f3f3;
  transition: .3s;
}
/* line 332, ../sass/styles.scss */
.portfolio ul li:hover:before {
  opacity: 0.95;
}
/* line 336, ../sass/styles.scss */
.portfolio ul li:hover:after {
  content: '+';
  position: absolute;
  top: 122px;
  left: 193px;
  z-index: 10;
  color: #3971ff;
  font-family: "Exo 2", sans-serif;
  font-size: 142px;
  font-weight: 100;
  line-height: 59px;
  text-transform: uppercase;
}
/* line 350, ../sass/styles.scss */
.portfolio ul li:hover img {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
/* line 356, ../sass/styles.scss */
.portfolio ul img {
  width: 445px;
  height: 300px;
  margin-bottom: 47px;
  transition: .3s;
}
/* line 363, ../sass/styles.scss */
.portfolio ul h3 {
  margin-bottom: 18px;
}
/* line 367, ../sass/styles.scss */
.portfolio ul p {
  line-height: 30px;
}

/*---------RECENT POST section---------*/
/* line 375, ../sass/styles.scss */
.blog {
  background-color: #fff;
}

/*---------PRICING PLAN section---------*/
/* line 384, ../sass/styles.scss */
.pricing h2 {
  margin-bottom: 80px;
}
/* line 388, ../sass/styles.scss */
.pricing p {
  line-height: 30px;
}
/* line 392, ../sass/styles.scss */
.pricing .examples {
  display: flex;
  flex-wrap: wrap;
}
/* line 397, ../sass/styles.scss */
.pricing .price-example {
  background-color: #fff;
  width: 385px;
  padding: 50px 30px 55px 30px;
  margin-right: 30px;
}
/* line 403, ../sass/styles.scss */
.pricing .price-example h3 {
  padding-bottom: 20px;
}
/* line 407, ../sass/styles.scss */
.pricing .price-example span {
  font-weight: 900;
}
/* line 411, ../sass/styles.scss */
.pricing .price-example:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
/* line 414, ../sass/styles.scss */
.pricing .price-example:hover a:after {
  width: 150px;
}
/* line 420, ../sass/styles.scss */
.pricing ul {
  padding: 0;
  margin: 18px -30px;
}
/* line 425, ../sass/styles.scss */
.pricing li {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #a7a7a7;
}
/* line 431, ../sass/styles.scss */
.pricing li:last-child {
  border-bottom: none;
}
/* line 436, ../sass/styles.scss */
.pricing a {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-weight: 500;
  line-height: 30px;
  margin-left: 145px;
  width: 150px;
  padding-bottom: 12px;
  position: relative;
}
/* line 447, ../sass/styles.scss */
.pricing a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #3971ff;
  transition: .3s;
}

/*---------CLIENT'S FEEDBACK section---------*/
/* line 461, ../sass/styles.scss */
.feedback {
  background-image: url("../images/background-feedback.png");
}

/*---------SAY HELLO (contact) section---------*/
