.text {
  &-blue {
    color: $blue;
  }

  &-center {
    text-align: center;
  }
}

.upper {
  text-transform: uppercase;
}

a, a:hover {
  text-decoration: none;
}

section {
  padding: 0 0 100px 95px;
}

.flexes {
  display: flex;
}

.just-c-sp-b {
  justify-content: space-between;
}





/*

.just-c-center {
  justify-content: center;
}

.just-c-sp-ar {
  justify-content: space-around;
}

.hidden, .hidden-text {
  display: none;
}*/
