.text-blue {
  color: $blue;
}

.upper {
  text-transform: uppercase;
}

a, a:hover {
  text-decoration: none;
}

section {
  padding: 0 0 100px 95px;
}

.flexes {
  display: flex;
  flex-wrap: wrap;
}

.just-c-sp-b {
  justify-content: space-between;
}